.center-block {
    display: table;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
.container-1{
    width: 90%;
    background-color: #212529;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

}
.text-1{
    display: flex;
    justify-content: center;
    color: white;
}

.align-1{
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    border-radius: 0.5em;
    border: darkgray;
    background-color: darkgray;
    height: 2em;
    width: 16em;
    outline: none;
    display: block;
}

Button{
    width: 16em;
    border-radius: 0.5em;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    background-color: darkgray;
    border: solid darkgray;
    outline: none;
    color: aliceblue;
}